.item {
	display: flex;
	align-items: center;
}

.link {
	margin-left: 10px;
	opacity: 1;
}

.collapsed {
	.link {
		opacity: 0;
		transition: opacity 0.1s;
		width: 0;
	}
}

.itemRedesigned {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 16px;
}

.collapsedRedesigned {
	padding: 0 8px;

	.link {
		opacity: 0;
		width: 0;
		margin: 0;
	}
}

.active {
	background: linear-gradient(90deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
	border-left: 2px solid var(--accent-redesigned);
}
